.roundTracker {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

.roundTrackerDetail {
  display: flex;
}

.correct {
  color: var(--blue);
  font-weight: bold;
  font-size: 20px;
}

.incorrect {
  text-decoration: line-through;
}

.strikethrough {
  color: grey;
  text-decoration: line-through;
}
