body {
  margin: 50px;
  --red: #C1292E;
  --black: #161925;
  --white: #dbe4ee;
  --yellow: #f1d302;
  --blue: #235789;
  font-family: 'Lato', sans-serif;
  background-color: var(--white);
  margin: 0;
}
header {
  background-color: var(--black);
  color: var(--white);
}

header h1 {
  margin-left: 20px;
}

.App {
  text-align: center;
}

.roundDetail {
  text-align: center;
  background-color: var(--black);
  padding-top: 10px;
  height: 32px;
  width: 32px;
  color: var(--white);
  margin-top: 10px;
}

.roundDetail:last-of-type {
  background-color: var(--yellow);
  color: var(--black);
}

.roundDetail:hover span {
  display: inline;
}

.dialPad button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--yellow);
}

.dialPad button:hover, .dialPad button.pressed {
  color: var(--black);
  background-color: var(--yellow);
}

.roundDetail span {
  color: var(--black);
  position: relative;
  right: -25px;
  display: none;
}

.guessRow input {
  font-size: 20px;
  /* background-color: var(--black);
  color: var(--white); */
}

.inputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.roundCountContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.previousGuesses.row {
  scroll-snap-type: mandatory;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-snap-points-x: repeat(100vw);
}

.guessedWords {
  scroll-snap-align: start;
  border: 2px solid var(--black);
  border-radius: 15px;
  width: 250px;
  height: 100px;
  max-height: 100px;
}

li {
  list-style-type: none;
}

.clue {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 200px;
  background: darkgrey;
  border-radius: 15px;
  padding: 10px;
  justify-content:   space-between;
}

.green {
  color: var(--blue);
  font-weight: bold;
}

.strikethrough {
  color: grey;
  text-decoration: line-through;
}

.clue > p {
  margin: 5px 10px;
}

p {
  font-size: 28px;
}

li.clue > input {
  width: 50px;
}

p.validation-error {
  color: var(--red);
  font-size: 14px;
}

.lock {
  border-radius: 50%;
  background-color: var(--black);
  position: relative;
  top: 80px;
  left: 50%;
  width: 120px;
  height: 120px;
  margin:-60px 0 0 -60px;
}

.lock-correct {
  background-color: var(--blue);
}

.lock-incorrect {
  background-color: var(--red);
}

.lockHolder {
  position: relative;
  border-radius: 50%;
  height: 100%;
  border: 5px solid var(--black);
}

.lockLine {
  position: relative;
  left: 57px;
  width: 6px;
  height: 50%;
  background-color: var(--white);
}

.spin-0 {
  animation: spin-0 1.5s 1;
  transform: rotate(360deg);
}

.spin-1 {
  animation: spin-1 1.5s 1;
  transform:rotate(416deg);
}
.spin-2 {
  animation: spin-2 1.5s 1;
  transform:rotate(467deg);
}
.spin-3 {
  animation: spin-3 1.5s 1;
  transform:rotate(518deg);
}
.spin-4 {
  animation: spin-4 1.5s 1;
  transform:rotate(569deg);
}
.spin-5 {
  animation: spin-5 1.5s 1;
  transform:rotate(569deg);
}
.spin-6 {
  animation: spin-6 1.5s 1;
  transform:rotate(671deg);
}

@keyframes spin-0 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(-360deg); transform:rotate(-360deg);
  }
}
@keyframes spin-1 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(416deg); transform:rotate(416deg);
  }
}
@keyframes spin-2 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(467deg); transform:rotate(467deg); } }
@keyframes spin-3 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(518deg); transform:rotate(518deg); } }
@keyframes spin-4 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(569deg); transform:rotate(569deg); } }
@keyframes spin-5 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform: rotate(569deg) ; transform:rotate(569deg); } }
@keyframes spin-6 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(671deg); transform:rotate(671deg); } }
