body {
  margin: 50px;
  --red: #C1292E;
  --black: #161925;
  --white: #dbe4ee;
  --yellow: #f1d302;
  --blue: #235789;
  font-family: 'Lato', sans-serif;
  background-color: var(--white);
  margin: 0;
}
header {
  background-color: var(--black);
  color: var(--white);
}

header h1 {
  margin-left: 20px;
}

h1 a {
  text-decoration: none;
  color: var(--white);
}

main {
  margin: 10px;
  padding: auto 15px;
}

.finalScreen {
  text-align: center;
}

.highlight {
  background-color: var(--yellow);
}

.finalScreen ul {
  padding: 0;
}

.App {
  text-align: center;
}

var {
  text-align: left;
}

.previousGuessDisplay {
  margin-top: 20px;
}

span.answerClue {
  font-size: 12px;
}

.roundDetail {
  text-align: center;
  background-color: #a7bdff;
  padding: 10px;
  color: var(--black);
  margin-top: 10px;
  display: relative;
  border-radius: 5px;
}

.dialPad button {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--black);
  color: var(--yellow);
}

.dialPad button:hover, .dialPad button.pressed {
  color: var(--black);
  background-color: var(--yellow);
}

.otherRoundClues ul {
  margin: 0;
  padding: 0;
}

input.guess {
  margin: 0;
}

.inputBox {
  padding-top: 20px;
  height: 70px;
}

.align-center {
  align-content: center;
}

.guessRow input {
  font-size: 18px;
  text-align: center;
  width: 100%;
  /* background-color: var(--black);
  color: var(--white); */
}

.guessedWordList li {
  margin-left: 15px;
}

.roundCountContainer {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.otherRoundClues {
  background-color: #d6e0eb;
  scroll-snap-align: start;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.otherRoundClues h4 {
  margin: 0;
  margin-top: 10px;
  margin-left: -5px;
}

.guessedConcepts {
  width: 100%;
}

.guessedConcepts.correctGuesses {
  height: 50%;
}

.guessedConcepts.incorrectGuesses {
  background-color: #b4c0b8;
  height: 30%;
}

li {
  list-style-type: none;
}

li.previousGuess.hintNotGiven {
  color: grey;
  text-decoration: line-through;
}

li.previousGuess {
  font-size: 16px;
}

li.previousGuess.mostRecentRound {
  opacity: 1;
  font-size: 17px;
  font-weight: bold;
}

li.previousGuess span {
  font-size: 12px;
  font-weight: bold;
}

.clue {
  display: flex;
  flex-direction: row;
  margin: 20px;
  width: 200px;
  background: darkgrey;
  border-radius: 15px;
  padding: 10px;
  justify-content:   space-between;
}

.green {
  color: var(--blue);
  font-weight: bold;
}

.strikethrough {
  color: grey;
  text-decoration: line-through;
}

.clue > p {
  margin: 5px 10px;
}

p.roundClue {
  font-size: 18px;
  text-align: left;
  margin: 0;
}

li.clue > input {
  width: 50px;
}

p.round-title {
  margin: 10px auto;

}

p.validation-error {
  color: var(--red);
  font-size: 14px;
  margin: 1px auto;
}

.lockBox {
  position: relative;
}

aside.roundTracker {
  max-height: 300px;
  overflow-y: scroll;
}

.lock {
  border-radius: 50%;
  background-color: var(--black);
  position: relative;
  top: -5px;
  left: 15px;
  width: 40px;
  height: 40px;
  border: none;
}

.lock-correct {
  background-color: var(--blue) !important;
  font-weight: bold;
}

.emphasize {
  margin-top: 10px;
  font-style: italic;
  color: var(--white);
  background-color: var(--black);
}

.lock-incorrect {
  background-color: var(--red) !important;
  font-weight: bold;
}


.lockLine {
  position: relative;
  left: 18px;
  width: 4px;
  height: 50%;
  background-color: var(--white);
}

.spin-0 {
  animation: spin-0 1.5s 1;
  transform: rotate(360deg);
}

.spin-1 {
  animation: spin-1 1.5s 1;
  transform:rotate(420deg);
}
.spin-2 {
  animation: spin-2 1.5s 1;
  transform:rotate(480deg);
}
.spin-3 {
  animation: spin-3 1.5s 1;
  transform:rotate(540deg);
}
.spin-4 {
  animation: spin-4 1.5s 1;
  transform:rotate(600deg);
}
.spin-5 {
  animation: spin-5 1.5s 1;
  transform:rotate(660deg);
}

@keyframes spin-0 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(-360deg); transform:rotate(-360deg);
  }
}
@keyframes spin-1 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(420deg); transform:rotate(420deg); } }
@keyframes spin-2 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(480deg); transform:rotate(480deg); } }
@keyframes spin-3 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(540deg); transform:rotate(540deg); } }
@keyframes spin-4 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform:rotate(600deg); transform:rotate(600deg); } }
@keyframes spin-5 {
  0% { -webkit-transform: rotate(0deg); transform:rotate(0deg);}
  100% { -webkit-transform: rotate(660deg) ; transform:rotate(660deg); } }
